<p style="color: green"><%= notice %></p>
<h1>Posts</h1>
<%== pagy_nav(@pagy) %>
<%# Will render 10 out of 100 posts on initial page load. %>
<%= turbo_frame_tag :posts do %>
  <%= render @posts %>
<% end %>
<%= turbo_frame_tag :pagination, 
  loading: :lazy,
  src: posts_path(format: :turbo_stream, page: @pagy.next)
  %>
<%= link_to "New post", new_post_path %>
